@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p class="alert-success text-center">@TempData["BemVindo"]</p>
    <h1>Página do Usuario</h1>
</div>
<div>
    <form action="\Usuario\Logout" method="post">
        <input class="btn btn-default" type="submit" value="Sair" />
    </form>
</div>