@{
    ViewData["Title"] = "Login Page";
}

<h2 class="text-center">Acessar o sistema</h2>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form action="\Home\Login" method="post">
            <div class="form-group">
                <label>Login:</label>
                <input class="form-control" placeholder="Usuário" name="login" />
            </div>

            <div class="form-group">
                <label>Senha:</label>
                <input class="form-control" placeholder="Senha" type="password" name="senha" />
            </div>

            <input class="btn btn-primary form-control" type="submit" value="Entrar" />
        </form>
    </div>
</div>